TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE # obtain from bot father following instructions https://core.telegram.org/bots/features#botfather
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID_HERE # obtain from your Telegram account by sending a message to your bot and checking the chat ID