TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE # obtain from bot father following instructions https://core.telegram.org/bots/features#botfather
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID_HERE # obtain from your Telegram account by sending a message to your bot and checking the chat ID
GOOGLE_CONSOLE_API_CREDENTIALS=YOUR_GOOGLE_CONSOLE_API_CREDENTIALS_HERE # obtain from Google Cloud Console following instructions here https://developers.google.com/workspace/sheets/api/quickstart/python
GOOGLE_SERVICE_ACCOUNT_JSON_CREDENTIALS=YOUR_GOOGLE_SERVICE_ACCOUNT_JSON_CREDENTIALS_HERE # obtain from Google Cloud Console following instructions here https://developers.google.com/workspace/guides/create-credentials
GOOGLE_SPREADSHEET_ID=YOUR_GOOGLE_SPREADSHEET_ID_HERE # obtain from your Google Sheets URL, the part after /d/ and before /edit